@import url('https://fonts.googleapis.com/css?family=Roboto:100:300,500,800');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
  border-bottom: .5px solid white;
  text-decoration: none;
  display: inline-block;
  line-height: 1.75;
}

a:hover {
  border-bottom: 0px; 
  transition: 2s;
}

.button {
  background: none;
  border: .5px solid #f9cb77;
  border-radius: 3px;
  display: inline-block;
  max-width: 175px;
  padding: 15px 25px;
  margin-right: 10px;
}

ul {
  padding-left: 20px;
  list-style: none;
}

li {
  padding: 2px 0px;
}

li a {
  color: #f9cb77;
  font-weight: 300;
  border-bottom: .5px solid #f9cb77;
}

li:before {
  content: '◇';
  color: #f9cb77;
  margin-left: -20px;
  margin-right: 10px;
}

li a:hover {
  text-decoration: none;
  font-weight: 300;
}

.social a {
  border-bottom: none;
}

li a:hover::after {
  content: ' →'
}

h1 {
  font-size: 3em;
  justify-self: flex-start;
  margin-bottom: 16px;
  margin-top: 0px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

h2 {
  font-weight: 500;
  font-size: 2em;
  margin: 0 auto;
}

p {
  font-weight: 100;
  line-height: 1.8;
}

.intro {
  max-width: 90%;
}

.feature {
  margin-top: 0px;
  font-weight: 500;
  color: white; 
}

.container {
  display: flex;
  height: 100vh;
}

section {
  flex: 1;
}

.left {
  display: flex;
  min-height: 250px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: rgb(26,0,103);
  padding: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(15,213,172,1) 0%, rgba(34,182,198,1) 100.2% );
}

.feature {
  font-weight: 800;
}

.right {
  background: black;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media {
  text-align: center;
  vertical-align: middle;
}

img {
  max-width: 600px;
  width: 100%; 
  max-height: 600px; 
  height: auto;
}

#profile {
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.social {
  margin: 1em;
  text-align: center;
}

i {
  padding: 5px;
  font-size: 2em !important;
  color: white;
  opacity: .75;
  cursor: pointer;
}

i:hover {
  opacity: 1;
}


@media (max-width: 1400px) {
  #profile {
    width: 50%;
  }
}

@media (min-width: 460px) and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .right {
    flex: 2;
    padding: 3.5rem;
    display: block;
  }

  .intro {
    max-width: 100%;
  }

  #profile {
    width: 20%;
    margin-top: 30px;
    min-width: 150px;
  }

  .social {
    margin: .5em;
    margin-bottom: 30px;
  }

  i {
    font-size: 1.5em !important;
  }

  h1 {
    font-size: 2.5em;
  }

}

@media (max-width: 460px) {

  .container {
    display: block;
    width: 100vw;
  }

  .left {
    height: 30%;
  }

  .right {
    padding: 2.3em;
    width: 100vw;
    padding-right: 1em;
  }

  .intro {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    line-height: 1.5em;
  }

  #profile {
    margin-top: 10px;
    width: 40%;
  }

  .social {
    margin: .5em;
    margin-bottom: 10px;
  }

  i {
    font-size: 18px !important;
    padding: 2px 5px;
  }

}